/* General layout*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
}

#Home {
    font-size: large;
    text-align: center;
    background-size: 350% 350%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    font-weight: 500;
}

#Home a {
    position: absolute;
    bottom: 7.5%;
}

#Home h1 {
    padding-top: 10vh;
    padding-bottom: 3vh;
}

#Home p {
    font-size: 1.5em;
}

#FirstBackground {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#AboutMe {
    min-height: 100vh;
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    text-align: center;
    padding-bottom: 1%;
}

#AboutMe h1 {
    padding-top: 1.5%;
    padding-bottom: 2%;
    font-size: 300%;
    text-decoration: underline;
}

#AboutMe #Title {
    padding-bottom: 1%;
    font-size: 200%;
    text-decoration: underline;
}

#AboutMe p {
    font-size: 150%;
}

#AboutMe ul li {
    font-size: 125%;
}

@media (max-width: 600px) {
    /* Adjust Text for smaller screens*/
    #AboutMe p {
        font-size: 125%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* responsive grid*/

@media (max-width: 970px) {
    #Home p {
        font-size: 20px;
    }
}